html *{
    background-color: #ffb7bd;
}
/*
.Column items{
    align-items: center;
}
#axolotl{
    height: 300px;
    width: 70%;
}
#drop{
    height: 300px;
    width: 300px;
}
#feed{
    height: 300px;
    width: 300px;
}
*/
