html *{
    background-color: #ffb7bd;
}
/*
#drop{
    height: 300px;
    width: 300px;
}
#feed{
    height: 300px;
    width: 300px;
}
*/
.columnItems{
    align-items: center;
}
#drop{
    color: black;
}
#drop :hover{
    color: gold;
}
