 * {
     background-color: #ffb7bd;
     font-family: 'Dosis', sans-serif;
 }
 
 .title {
     margin-top: 20px;
 }
 
 .columnItems {
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: none;
 }
 
 .action-btn {
     border-radius: 12px;
     width: 65%;
     height: 37px;
     margin: 5px;
     font-family: 'DotGothic16', sans-serif;
     font-weight: normal;
     background-image: url("/images/emptyButton2.png");
     background-position: center;
 }
 
 .action-btn:hover {
     /* color: white;
    background-color: #f08080; */
     cursor: pointer;
 }
 
 .action-btn:active:hover {
     background-image: url("/images/emptyButton1.png");
 }
 
 #axolotl {
     width: 200px;
     height: auto;
 }
 
 #questionMark {
     position: absolute;
     bottom: 5px;
     right: 10px;
     font-size: 27px;
 }
 
 #questionHover {
     position: absolute;
     background: #ebf4fa;
     color: #f08080;
     opacity: 0;
     transition: opacity .35s;
     width: 202px;
     height: 0;
     right: 2px;
     bottom: 20px;
     top: 50px;
     left: 8px;
     text-align: center;
     font-size: 18px;
 }