 * {
     background-color: #ffb7bd;
     font-family: 'Dosis', sans-serif;
 }
 
 .title {
     margin-top: 20px;
 }
 
 .columnItems {
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: none;
 }
 
 .button {
     margin-top: 10px;
 }
 
 .button:hover {
     cursor: pointer;
 }
 
 #drop:active {
     content: url("/images/dropDown.png");
 }
 
 #feed:active {
     content: url("/images/feedDown.png");
 }
 
 #gym:active {
     content: url("/images/gymDown.png");
 }
 
 #axolotl {
     width: 200px;
     height: auto;
 }
 
 #questionMark {
     position: absolute;
     bottom: 5px;
     right: 10px;
     font-size: 27px;
 }
 
 #questionHover {
     position: absolute;
     background: #ebf4fa;
     color: #f08080;
     opacity: 0;
     transition: opacity .35s;
     width: 202px;
     height: 0;
     right: 2px;
     bottom: 20px;
     top: 50px;
     left: 8px;
     text-align: center;
     font-size: 18px;
 }