html *{
    background-color: #ffb7bd;
}
hr{
    background-color: white;
    border-color: white;
    height: 1px;
    width: 100%;
}
#title{
    background-color: #ffb7bd;
    margin-bottom: 5px;
    font-size: 17px;
    color: white;
    border-bottom: 10px red;
    text-align: center;
}
.columnItems{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color:none ;
    
}
#drop{
    color: black;
    background-color: white;
    padding: 10px, 5px;
    /*border: 5px solid purple;*/
    font-size: 15px;
    border-radius: 12px;
    width: 65%;
    margin: 5px;
}
#drop:hover{
    color: white;
    background-color: #f08080;
}
#feed{
    color: black;
    background-color: white;
    padding: 10px, 5px;
    /*border: 5px solid purple;*/
    font-size: 15px;
    border-radius: 12px;
    width: 65%;
    margin: 5px;
}
#feed:hover{
    color: white;
    background-color: #f08080;
}
#axolotl{
    width: 200px;
    height: 200px;
}
#questionMark{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 10px;
}